<extend name="./Public/layout_admin.html"/>
<block name="content">
    <p>动态管理</p>
    <div class="form-group">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">动态管理</a></li>
            <li role="presentation"><a href="#">待审列表</a></li>
        </ul>
    </div>
    <div class="form-group">
        <div aria-label="Basic example" class="table">
            <button type="button" class="btn btn-default">搜索动态</button>
            &nbsp;
            <button type="button" class="btn btn-default">删除动态</button>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <div class="checkbox">
                        <label> <input type="checkbox" value=""> </label>
                    </div>
                </th>
                <th>动态ID</th>
                <th>用户ID</th>
                <th>用户名</th>
                <th>数据</th>
                <th>发布时间</th>
                <th>微博类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <div class="checkbox">
                        <label> <input type="checkbox" value=""> </label>
                    </div>
                </th>
                <td>1</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>1</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td><a href="#">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" style="display: none">
        <div aria-label="Basic example">
            <button type="button" class="btn btn-default">搜索动态</button>
            &nbsp;
            <button type="button" class="btn btn-default">通过</button>
            &nbsp;
            <button type="button" class="btn btn-default">删除</button>
        </div>
        <table class="table table-bordered"">
            <thead>
            <tr>
                <th>
                    <div class="checkbox">
                        <label> <input type="checkbox" value=""> </label>
                    </div>
                </th>
                <th>动态ID</th>
                <th>用户ID</th>
                <th>用户名</th>
                <th>数据</th>
                <th>发布时间</th>
                <th>微博类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <div class="checkbox">
                        <label> <input type="checkbox" value=""> </label>
                    </div>
                </th>
                <td>1</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>1</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td><a href="#">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</block>