<extend name="./Public/layout_admin.html"/>
<block name="content">
    <p>公告配置</p>

    <div class="form-group">
        <div aria-label="Basic example">
            <button type="button" class="btn btn-default">添加公告</button>
            &nbsp;
            <button type="button" class="btn btn-default">删除公告</button>
        </div>
        <table class="table table-bordered" style="margin-top: 5px">
            <thead>
            <tr>
                <th>
                    <div class="checkbox">
                        <label> <input type="checkbox" value=""> </label>
                    </div>
                </th>
                <th>ID</th>
                <th>公告标题</th>
                <th>发布者</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <div class="checkbox">
                        <label> <input type="checkbox" value=""> </label>
                    </div>
                </th>
                <td>1</td>
                <td>Table cell</td>
                <td>Table cell</td>
                <td>
                    <a href="#">编辑</a>&nbsp;<a href="#">禁用</a>&nbsp;<a href="#">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</block>