<extend name="./Public/layout_admin.html"/>
<block name="content">
    <p>游客配置</p>
    <div class="form-group">
        <label class="col-sm-2 control-label">微吧首页:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否
        <hr style="BORDER-BOTTOM-STYLE: dotted;"/>
        <label class="col-sm-2 control-label">微吧详情:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否
        <hr style="BORDER-BOTTOM-STYLE: dotted;"/>
        <label class="col-sm-2 control-label">微吧帖子详情:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否
        <hr style="BORDER-BOTTOM-STYLE: dotted;"/>
        <label class="col-sm-2 control-label">微吧帖子列表:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否
        <hr style="BORDER-BOTTOM-STYLE: dotted;"/>
        <label class="col-sm-2 control-label">微吧列表:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否
        <hr style="BORDER-BOTTOM-STYLE: dotted;"/>
        <label class="col-sm-2 control-label">找人:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否
        <hr style="BORDER-BOTTOM-STYLE: dotted;"/>
        <label class="col-sm-2 control-label">频道:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><input type="radio" name="type" value="1" checked></span> 是 &nbsp;&nbsp;
        <span><input type="radio" name="type" value="2"></span> 否

        <div class="form-group table">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">保存</button>
            </div>
        </div>
        <hr/>
    </div>
</block>