<extend name="./Public/layout_admin.html"/>
<block name="content">
    <p>任务列表</p>
    <div class="form-group">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">每日任务</a></li>
            <li role="presentation"><a href="#">主线任务</a></li>
        </ul>
        <!--每日任务-->
        <table class="table table-bordered" style="margin-top: 10px;">
            <thead>
            <tr>
                <th>类型</th>
                <th>任务名称</th>
                <th>任务说明</th>
                <th>完成人数</th>
                <th>积分奖励</th>
                <th>勋章奖励</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>每日</th>
                <td>发布1条原创微博</td>
                <td>在我的首页发布1条原创微博</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td></td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>每日</th>
                <td>转发1条微博</td>
                <td>在我的首页转发1条他人的微博</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td></td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>每日</th>
                <td>评论1条微博</td>
                <td>在我的首页评论1条他人的微博</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td></td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>每日</th>
                <td>签到1次</td>
                <td>在我的首页中签到1次</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td></td>
                <td><a href="#">编辑</a></td>
            </tr>
            </tbody>
        </table>
        <!--主线任务-->
        <table class="table table-bordered" style="display: none">
            <thead>
            <tr>
                <th>类型</th>
                <th>任务名称</th>
                <th>任务描述</th>
                <th>完成人数</th>
                <th>积分奖励</th>
                <th>勋章奖励</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>新手</th>
                <td>上传头像</td>
                <td>在帐号-设置-头像设置里上传头像</td>
                <td>0</td>
                <td>经验+2 财富+2</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>新手</th>
                <td>转发1条微博</td>
                <td>在微博列表中转发1条微博</td>
                <td>0</td>
                <td>经验+2 财富+2</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>新手</th>
                <td>完善个人资料</td>
                <td>在帐号-设置-基本信息里完善你的个人资料</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>新手</th>
                <td>关注1个感兴趣的人</td>
                <td>在可能感兴趣的人或者找人里关注1个感兴趣的人</td>
                <td>0</td>
                <td>经验+2 财富+2</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>进阶</th>
                <td>拥有30个以上的粉丝</td>
                <td>将自己的粉丝数扩充到30个以上</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>进阶</th>
                <td>连续签到3次</td>
                <td>连续签到3次以上</td>
                <td>0</td>
                <td>经验+5 财富+5</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>达人</th>
                <td>发布100条以上的原创微博</td>
                <td>发布100条以上的原创微博</td>
                <td>0</td>
                <td>经验+10 财富+10</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>达人</th>
                <td>拥有100个以上的粉丝</td>
                <td>拥有100个以上的粉丝</td>
                <td>0</td>
                <td>经验+6 财富+6</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            <tr>
                <th>达人</th>
                <td>连续签到20次</td>
                <td>连续签到20次以上，连续签到非累计签到次数</td>
                <td>0</td>
                <td>经验+6 财富+6</td>
                <td>Table cell</td>
                <td><a href="#">编辑</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</block>